<main>
    <h1>Help</h1>
    <h2>SP</h2>
    <p class="Credits_P">Silver Pennies, or SP, are the primary coin in this game.</p>
    <p class="Credits_P">You gain them automatically by 10 seconds.</p>
    <p class="Credits_P">You can increase the number and speed by buying upgrades, as explained below.</p>
    <div class="Line"></div>
    <h2>Upgrades</h2>
    <p class="Credits_P">By buying upgrades, you can increase the speed and number at which you gain SP:</p>
    <p class="Credits_P">The "Equipment" upgrade multiplies your speed by 0.98.</p>
    <p class="Credits_P">The "Miners Count" upgrade halves your speed.</p>
    <p class="Credits_P">The "Ore Price" upgrade adds 1 to your gain.</p>
    <p class="Credits_P">The "Ore Purity" upgrade adds 1 to your gain.</p>
    <img src="../images/Upgrade_Example.png" />
    <p class="Credits_P">Every upgrade has the following elements:</p>
    <p class="Credits_P">The name, telling you what you're upgrading. In the image: "Equipment"</p>
    <p class="Credits_P">The level, indicating how many times you've bought this upgrade. In the image: "Lvl: 0"</p>
    <p class="Credits_P">The cost, telling you how much the next level will cost. In the image: "Cost: 10"</p>
    <p class="Credits_P">The modifier, telling you what you're upgrading, and what that modifier currently is. In the image: "Speed: 10 s"</p>
    <p class="Credits_P">The bonus, telling you how much the modifier will change when you the next level. In the image: "-0.2"</p>
    <div class="Line"></div>
</main>