<main>
    <div id="Top_Bar">
        <div id="Sp_Div">
            <img id="Sp_Img" src="../images/Silver Penny.png" alt="An icon of a Silver Penny."/>
            <p aria-live="polite" tabindex="8" id="Sp_Display">0</p>
        </div>
    </div>
    <section id="MU_Sect">
        <div class="MU" id="MU_Equipment">
            <div class="MU_Top">Equipment</div>
            <div class="MU_Lvl">Lvl: <span id="Equipment_Lvl">0</span></div>
            <div class="MU_Price">Cost: <span id="Equipment_Price">10</span></div>
            <div class="MU_Bonus">Speed: <span id="Equipment_Bonus">10</span> s</div>
            <div class="MU_Extra"><span id="Equipment_Extra">-0.2</span></div>
        </div>
        <div class="MU" id="MU_Miners">
            <div class="MU_Top">Miners Count</div>
            <div class="MU_Lvl">Lvl: <span id="Miners_Lvl">0</span></div>
            <div class="MU_Price">Cost: <span id="Miners_Price">250</span></div>
            <div class="MU_Bonus">Speed: <span id="Miners_Bonus">10</span> s</div>
            <div class="MU_Extra"><span id="Miners_Extra">-5</span></div>
        </div>
        <div class="MU" id="MU_Purity">
            <div class="MU_Top">Ore Purity</div>
            <div class="MU_Lvl">Lvl: <span id="Purity_Lvl">0</span></div>
            <div class="MU_Price">Cost: <span id="Purity_Price">10</span></div>
            <div class="MU_Bonus">Gain: <span id="Purity_Bonus">1</span></div>
            <div class="MU_Extra"><span id="Purity_Extra">+1</span></div>
        </div>
        <div class="MU" id="MU_Price">
            <div class="MU_Top">Ore Price</div>
            <div class="MU_Lvl">Lvl: <span id="Price_Lvl">0</span></div>
            <div class="MU_Price">Cost: <span id="Price_Price">10</span></div>
            <div class="MU_Bonus">Gain: <span id="Price_Bonus">1</span></div>
            <div class="MU_Extra"><span id="Price_Extra">+1</span></div>
        </div>
    </section>
</main>