<main id="Registration_Main">  
    <h1 id="Registration_Head1">Register</h1>

    <form id="Registration_Form">
        <div class="Form_Group">
            <p class="Form_Lbl" for="Username_Input">Username</p>
            <input class="Form_Input" id="Username_Input" type="text" inputmode="text" maxlength="50" aria-describedby="Username_Help" />
            <span id="Username_Help" class="Hidden">Please fill in your username.</span>
        </div>

        <div class="Form_Group">
            <p class="Form_Lbl" for="Email_Input">Email</p>
            <input class="Form_Input" id="Email_Input" type="email" inputmode="text" aria-describedby="Email_Help" />
            <span id="Email_Help" class="Hidden">Please fill in your Email.</span>
        </div>

        <div class="Form_Group">
            <p class="Form_Lbl" for="Password_Input">Password</p>
            <input class="Form_Input" id="Password_Input" type="password" inputmode="text" aria-describedby="Password_Help" />
            <span id="Password_Help" class="Hidden">Please fill in your Password.</span>
        </div>

        <div class="Form_Group">
            <p class="Form_Lbl" for="Confirm_Input">Confirm Password</p>
            <input class="Form_Input" id="Confirm_Input" type="password" inputmode="text" aria-describedby="Confirm_Help" />
            <span id="Confirm_Help" class="Hidden">Please fill in your password again.</span>
        </div>

        <div class="Form_Group">
            <p class="Form_Lbl" for="Role_Select">Role</p>
            <select class="Form_Select" id="Role_Select" aria-describedby="Role_Help">
                <option value="1">Player</option>
                <option value="1">Child</option>
                <option value="2">Parent</option>
            </select>
            <span id="Role_Help" class="Hidden">Please select your desired role.</span>
        </div>

        <p class="Form_Alert" id="Registration_Error"></p>

        <button type="button" class="Form_Btn" id="Registration_Btn">Register Account</button>
    </form>
</main>