<main>
    <div id="Sub_Nav">
        <button class="Sub_Nav_Btn" id="Settings_General">General</button>
        <button class="Sub_Nav_Btn" id="Settings_Account">Account</button>
        <button class="Sub_Nav_Btn" id="Settings_Parental">Parental Supervision</button>
    </div>

    <div class="Settings_Page" id="Parent_Page">
        <section class="Settings_Sect" id="Child_Sect">
            <h2 id="Child_Head">Connected to child:</h2>
            <span id="Child_Lbl">Gollum8115</span>
        </section>
        <div class="Line" id="SLine1"></div>
        <section class="Settings_Sect" id="Limit_Sect">
            <h2>
                <span>Daily limit for </span>
                <span id="Child_Span">Gollum8115</span>
            </h2>
            <div class="Time_Group">
                <select class="Time_Select" id="Hour_Select"></select>
                <h4 for="Hour_Select">Hours</h4>
            </div>
            <div class="Time_Group">
                <select class="Time_Select" id="Min_Select"></select>
                <h4 for="Hour_Select">Minutes</h4>
            </div>
            <div class="Time_Group">
                <select class="Time_Select" id="Sec_Select"></select>
                <h4 for="Hour_Select">Seconds</h4>
            </div>
            <button class="Form_Btn" id="Limit_Btn">Set 05:30:18</button>
        </section>
        <div class="Line" id="SLine2"></div>
        <section class="Settings_Sect" id="WIP_Sect">
            <h1>Under construction...</h1>
            <p>Sorry, the rest of this page is still being worked on. Please come back later!</p>
        </section>
        <div class="Line" id="SLine3"></div>
    </div>

    <div class="Settings_Page Hidden" id="General_Page">
        <h1>Under construction...</h1>
        <p>Sorry, this page isn't quite finished yet. Please come back later!</p>
    </div>

    <div class="Settings_Page Hidden" id="Account_Page">
        <h1>Under construction...</h1>
        <p>Sorry, this page isn't quite finished yet. Please come back later!</p>
    </div>
    
</main>