<main>
    <div id="Sub_Nav">
        <button class="Sub_Nav_Btn" id="Settings_General">General</button>
        <button class="Sub_Nav_Btn" id="Settings_Account">Account</button>
        <button class="Sub_Nav_Btn" id="Settings_Parental">Parental Supervision</button>
    </div>

    <div class="Settings_Page" id="Parent_Page">
        <section class="Settings_Sect" id="Child_Sect">
            <h2 id="Child_Head">Connected to child:</h2>
            <span id="Child_Lbl"></span>
        </section>
        <div class="Line" id="SLine1"></div>
        <section class="Settings_Sect" id="Limit_Sect">
            <h2>
                <span>Daily limit for </span>
                <span id="Child_Span"></span>
            </h2>
            <div class="Time_Group">
                <select class="Time_Select" id="Hour_Select"></select>
                <h4 for="Hour_Select">Hours</h4>
            </div>
            <div class="Time_Group">
                <select class="Time_Select" id="Min_Select"></select>
                <h4 for="Hour_Select">Minutes</h4>
            </div>
            <div class="Time_Group">
                <select class="Time_Select" id="Sec_Select"></select>
                <h4 for="Hour_Select">Seconds</h4>
            </div>
            <button class="Form_Btn" id="Limit_Btn">
                <span>Set </span>
                <span id="Time_Span"></span>
            </button>
        </section>
        <div class="Line" id="SLine2"></div>
        <section class="Settings_Sect" id="My_Code_Sect">
            <h2>Your code:</h2>
            <p id="My_Code_P"></p>
        </section>
        <div class="Line" id="SLine3"></div>
        <section class="Settings_Sect" id="Connect_Code_Sect">
            <h2>Connection code:</h2>
            <input class="Form_Input" id="Code_Input" aria-describedby="Code_Help" type="number", inputmode="numeric" maxlength="6"/>
            <span id="Code_Help" class="Hidden">Please enter the connection code.</span>
            <button class="Form_Btn" id="Connect_Btn">Connect</button>
            <span id="Connect_Error"></span>
        </section>
    </div>

    <div class="Settings_Page Hidden" id="General_Page">
        <h1>Under construction...</h1>
        <p>Sorry, this page isn't quite finished yet. Please come back later!</p>
    </div>

    <div class="Settings_Page Hidden" id="Account_Page">
        <h1>Under construction...</h1>
        <p>Sorry, this page isn't quite finished yet. Please come back later!</p>
    </div>
    
</main>